<!DOCTYPE html>
<html>
  <head>
    <title>SANS-SMP</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>
    <div class="content">
      <div id="left-content">
        <div class="left-container" id="title">
          <img src="SansSMP.png">
        </div>
        <div class="left-container" id="players">
        </div>
        <div class="left-container" id="cores">
          <div>core</div>
        </div>
        <div class="left-container" id="info">
          <div>
            We are current playing Java Modded
          </div>
        </div>
      </div>
      <div id="right-content">
        <div class="right-container" id="stuff">
          <div></div>
        </div>
      </div>
    </div>
  </body>
</html>
